body {
  background-color:#000;
  color:#fff;
  height:101%;
  padding-top: 20px;
  padding-bottom: 40px;
}

a {
  text-decoration:none;
  color:#66AA33;
}

a:visited {
    color: #66AA33;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: #337711;
    text-decoration:none;
}

/* selected link */
a:active {
    color: #000;
    text-decoration:none;
}
/*
.selectwhite {
  color: #000;
}*/

.greyed {
  color:#666;
}

.ajax {
  visibility: hidden;
/*  margin-bottom: 20px !important; 
  margin-right: 20px;*/
}

#padded>div {
  margin-bottom: 20px !important; 
  margin-right: 20px;
}

.ajax label {
  margin-right: 10px;
}

/*.properties {
  /*border: 1px solid #fff;
  padding: 5px;
  margin-bottom: 10px;
  }

.properties div {
    margin-right: 10px;
}*/

.floatLeft {
  float:left; 
  clear:both;
}

#pageTitle {
  font-size: 2em;
}

/*for the number fields inside table cells*/
.cellNumber {
   width:50px;
   padding-top:0px;
   padding-bottom:0px;
}

/*Beginning of Dropdown submenu code - a ridiculous amount for what it does*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#ccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/*End of Dropdown submenu code*/

input, button, textarea, select {
  color:#000;
}

#navsearch {
  padding-top:15px;
}

#navsearch input {
  background-color: #262;
  color:#fff;
}

#navsearch button {
  padding:0px;
  border:0px;
  background-color: #262;   
}

#navsearch .input-group-addon {
  padding:0px;
}

.all_link {
  padding-left:15px;
}

#title {
  font-size: 200%;
}

 .help-list {
    padding-bottom:5px;
    color:#888;
 }

.help-list strong {
  color:#8b8;
  font-size:115%;
 }

.help-title {
  color:#5b5;
  padding-bottom:5px; 
  font-size:125%;
 }

#errorSpan {
  display:none;
}



/*.totalRow {
  background-color: #aaa; 
  color:#000;
}*/

/*.newPropType {
  visibility: hidden;
}*/